/* Variables */
:root {
  /* fuentes  */
  --fuenteheading: "Montserrat", sans-serif;
  --fuenteparrafos: "Montserrat", sans-serif;

  --primario: #6fdfdf;
  --secundario: #ff6fb5;
  --tercero: #fff;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
a {
  text-decoration: none;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: var(--fuenteparrafos);
  background-color: var(--);
  font-size: 1.6rem;
  line-height: 2; /*interlineado*/
  background-color: #a9c9ff;
  background-image: linear-gradient(180deg, #a9c9ff 0%, #ffbbec 100%);
}
/* Globales */

.contenedor {
  display: flex;
  justify-content: space-around;
  min-width: 100%;
  height: auto;
  color: var(--tercero);
}
header {
  background-color: var(--primario);
}
img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.contenedor_nav {
  display: flex;
  align-items: center;
  gap: 6rem;
  max-width: 100%;
}
.formato {
  color: var(--tercero);
}

/*Estilo de cards*/
.productos {
  display: flex;
  justify-content: center;
}
.container {
  max-width: 100vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 35px;
  margin: 0 auto;
  padding: 40px 0;
}
.card {
  position: relative;
  width: 300px;
  height: 400px;
  margin: 0 auto;
  background: #000;
  border-radius: 15px;
  box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);
}
.face {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.face1 {
  box-sizing: border-box;
  padding: 20px;
}
h2 {
  margin: 0;
  padding: 0;
}

.ropa {
  background-color: #fffc00;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.maquillaje {
  background-color: #00fffc;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.acesorios {
  background-color: #fc00ff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h2 {
  margin: 0;
  padding: 0;
  font-size: 10em;
  color: #fff;
  transition: 0.5s;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 10;
}
.face2 {
  transition: 0.5s;
}

.card:hover .face.face2 {
  height: 60px;
}
h2 {
  font-size: 2em;
}
.card:nth-child(1) .face.face2 {
  background-image: linear-gradient(
    40deg,
    #fffc00 0%,
    #fc00ff 45%,
    #00fffc 100%
  );
  border-radius: 15px;
}

.card:nth-child(2) .face.face2 {
  background-image: linear-gradient(
    40deg,
    #fc00ff 0%,
    #00fffc 45%,
    #fffc00 100%
  );
  border-radius: 15px;
}

.card:nth-child(3) .face.face2 {
  background-image: linear-gradient(
    40deg,
    #00fffc 0%,
    #fc00ff 45%,
    #fffc00 100%
  );
  border-radius: 15px;
}
/*Quienes somos*/
.textonosotros {
  text-align: center;
  width: auto;
  height: 300px;
}
/*fin quienes somos*/
.nosotrosFlex {
  padding: 0px 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
.imagenMincoli {
  display: flex;
  align-items: center;
  width: auto;
  height: auto;
}
.imagenformato {
  height: 40rem;
  width: 40rem;
   border-radius: 25px;
}
@media (max-width: 1080px) {
  .nosotrosFlex {
    padding: 0px 1rem;
    display: block;
  }
  .textonosotros {
    text-align: center;
    width: 98%;
    height: 100%;
  }
  .imagenMincoli {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
  }
}
@media (max-width: 768px) {
  .nosotrosFlex {
    padding: 0px 1rem;
    display: block;
  }
  .textonosotros {
    text-align: center;
    width: 98%;
    height: 100%;
  }
  .imagenMincoli {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
  }
  .imagenformato {
    height: 40rem;
    margin: 2rem;
  }
}

/*Fin de cards*/
/*Registro*/

/*Footer*/
.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
}

.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}
/* Footer links */

.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
  transition: ease 0.25s;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease 0.25s;
}

.footer-distributed .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition: all 0.25s;
}

.footer-distributed .footer-right a:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

.footer-distributed p.footer-links a:hover {
  text-decoration: underline;
}

/* Media Queries */

@media (max-width: 600px) {
  .footer-distributed .footer-left,
  .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
}
/*fin de Footer*/
